black[d]==23.1.0
matplotlib==3.7.1
mlflow==2.12.1
monai[all]==1.1.0
nibabel==5.2.1
numpy==1.24.2
optuna==3.1.0
pandas==1.5.3
scikit-image==0.20.0
tensorboard==2.16.2
tensorboardX==2.6.2.2
tensorflow==2.16.1
tqdm==4.65.0
torch==2.3.0+cu121
torchvision==0.18.0+cu121
